.ex-image-card{
    width:200px;
    height:200px;
    border:1px solid red;
    display:inline-block;
    flex-direction:column-reverse;
    margin-right:20px;
}

.ex-image-card img{
    width:200px;
}